#logo {
      clear: both;
  }

.floatright {
      text-align: center;
}

body {
      background-color: #ffff76;
      font-family: 'Playfair Display', serif;
}

#Fjalla {
      font-family: 'Fjalla One', sans-serif;
}

.textred {
      color: red;
}
